.material-icons:hover {
    color:var(--secondary-ccolor)
}

.amc-image{
    width: 100px;
}

.header {
    color:var(--primary-ccolor);
    padding:1rem;
    border-radius: 5px;;
    font-weight: 600;
    line-height: 1.2rem;
    font-size: 1.3rem;
}