<div *ngIf="loading" class="centerOfPage">
    <app-spinner></app-spinner>
</div>
<div *ngIf="!loading" class="p-m-3">
    <div class="p-grid  p-jc-center" style="position: relative;">
        <div class="p-md-5 ">
            <product-image-view [urlList]="product.imageUrl"></product-image-view>
        </div>
        <div class="p-md-6">
            <h4 class="title">{{product.display_name}}</h4>

            <div class="p-grid p-ai-center p-my-2">
                <div class="p-md-4">
                    <div class="subTitle">Model: {{product.brand+' '+product.variantModel|titlecase }}</div>
                    <h4 class="card-price">
                        {{product.price.price|currency:'INR'}}
                        <span class="price-strike">{{23423|currency:'INR'}}</span>
                    </h4>
                    <span class="p-tag p-tag-danger">Only 5 Left!</span>
                </div>
                <div class="p-md-8 p-d-flex p-ai-center" >
                    <!-- <p-button label="Add to cart" icon="pi pi-shopping-cart" styleClass="p-button-warning p-mr-3"></p-button>
                    <p-button label="Buy Now" styleClass="p-button-warning"></p-button> -->

                    <button class="btn hv-center" style="max-width: 150px;">
                        <span class="material-icons " style="font-size: 0.9rem;margin-right: 0.3rem;">
                            shopping_cart
                        </span>
                        Add to cart
                    </button>
                    <button class="btn" style="background: var(--text-color); max-width: 150px;">Buy Now</button>
                </div>
            </div>
            <hr />
            <div class="p-grid p-my-2">
                <div class="p-col-7">
                    <div style="font-size: 0.9rem;color:var(--text-color); font-weight: 600;">Highlight</div>

                    <ul class="highlight">
                        <li>Processor Model:{{product.specification.processor}}</li>
                        <li>Computer Memory Size:{{product.specification.memory}}</li>
                        <li>Hard Drive Size:{{product.specification.hardDisk}}</li>
                        <li>Display Size:{{product.specification.screenSize}} inch</li>
                        <li>Operating System:{{product.os}}</li>
                    </ul>
                </div>
                <div class="p-col-5">
                    <div style="font-size: 0.9rem;color:var(--text-color); font-weight: 600;">Working Condition</div>
                    <div class="p-text-italic subTitle p-py-1">
                        Quality was in pretty great condition. Has a few slight scratches and a tiny dent but that's to
                        be expected.
                    </div>
                    <div style="font-size: 0.9rem;color:var(--text-color); font-weight: 600;">Returns</div>
                    <div class="p-text-italic subTitle p-py-1">
                        30 day returns. Buyer pays for return shipping
                    </div>
                </div>
            </div>
            <p-tabView>
                <p-tabPanel header="Spec & Details">
                    <product-tab-desc [itemValue]="product"></product-tab-desc>
                </p-tabPanel>
                <p-tabPanel header="Return Policy">
                    <ng-template pTemplate="content">
                        <h5>After receving purchased item, refund process will initiate.Customers pay for return shipping. Customers can choose either amount or replacement.</h5>
                    </ng-template>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
    <cus-popular-product></cus-popular-product>

</div>
