:host ::ng-deep .p-menuitem-link-active{
    color: white;
    background-color: #2196F3;
}

:host ::ng-deep .p-menuitem-link-active .p-menuitem-text, :host ::ng-deep .p-menuitem-link-active .p-menuitem-icon{
    color: white;
}