<div class="card box-shadow">
    <div>
        <img class="card-img" [src]="product.image" />        
    </div>
    <div class="p-px-3 card-body " style="position: relative;">
        <h4 class="card-title ">{{product.name}}</h4>
  <div class="p-d-flex p-ai-center p-jc-between">
            <h4 class="card-price">
                {{product.offerPrice|currency:'INR'}}
                <span class="price-strike">{{product.price|currency:'INR'}}</span>

            </h4>
            <div style="position: absolute;right:0;top:0">
                <span class="btn-ic material-icons-outlined"
                    style="font-size: 0.8rem;color: white;vertical-align: middle;">add_shopping_cart</span>
            </div>
        </div>
    </div>
</div>