<form  class="p-grid p-px-3 p-jc-center p-ai-center">
    <div class="p-md-8 ">

        <h3>Appointment for Technicians</h3>
        <h5>Name</h5>
        <input type="text" pInputText>
        <h5>Contact Number</h5>
        <input type="text" pInputText>
        <h5>Issue Details</h5>
        <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize"
            placeholder="ex:software issue,network issue"></textarea>
        <div class="p-d-flex p-jc-between" >
            <button pButton pRipple type="button" label="Make an Appointment" style="margin-right:'10px !important'" class="p-button-warning"></button>
            <button pButton pRipple type="button" label="Clear" class="p-button-danger"></button>
        </div>

    </div>
</form>
<div class="p-d-flex p-jc-center p-flex-column p-ai-center" style="height: 100%;">
<i class="pi pi-check-circle " style="font-size: 5rem;color: #689F38;"></i>
<h2 style="color: var(--primary-color);">Appointment Successfully Scheduled...</h2>
<h5>For Appointment tracking click here...</h5>
</div>