.flex{
    display: flex;
    // flex: 0 0 25em;
}

.c-header{
    margin-left: 2.6rem;
    font-weight: 600;
    line-height: 1.2rem;
    color: var(--primary-ccolor);
    background-color: var(--secondary-ccolor);
    padding: 10px 14px;
    width: 80%;
    border-radius: 6px 0 0 6px;    
    height: 42px;
}

.c-label{
    width: 20px;
    height: 80px;
    float: right;
    /* border-left: 0px solid var(--secondary-ccolor); */
    border-right: 9px solid transparent;
    border-top: 42px solid var(--secondary-ccolor);
}